<%= form_for @asig_comission do |f|%> 
	<%if @asig_comission.errors.any?%>
	<div id="error_explanation">
		<h2><%= pluralize(@asig_comission.errors.count, "error")%> Prohibida la asignacion a estos datos:</h2>
		<ul>
			<%@asig_comission.errors.full_messages.each do |msg|%>
			<li><%= msg%></li>
			<% end %>
		</ul>
	</div>
	<%end%>
	
	<div class="field">
		<%= f.label :diputado_id%><br />
		<%= f.select :diputado_id, @l_dip%>
	</div>
	
	<div class="field">
		<%= f.label :comission_id%><br />
		<%= f.select :comission_id, @l_com%>
	</div>
	
	<div class="boton_form">
		<%= f.submit 'Guardar' , :class => 'boton_celeste'%>
	</div>
<% end %>