<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>


<div id="mapa" class="row">
	<h1 class="text-uppercase fuente_normal celeste-1"><%=@distrito%></h1>
  	<div class="col-md-12 col-md-8">
  	<div id="contenedor-mapa" class="col-md-12 fuente_normal">
  		<li><%= link_to "Alta Verapaz",{:mi_parametro => "Alta Verapaz"}, {:class => 'gris'} %></li>
		<li><%= link_to "Baja Verapaz", {:mi_parametro => "Baja Verapaz"}, {:class => 'gris'} %></li>
		<li><%= link_to "Chimaltenango",{:mi_parametro => "Chimaltenango"}, {:class => 'gris'} %></li>
		<li><%= link_to "Distrito Central", {:mi_parametro => "Distrito Central"}, {:class => 'gris'} %></li>
		<li><%= link_to "Distrito Guatemala", {:mi_parametro => "Distrito Guatemala"}, {:class => 'gris'} %></li>
		<li><%= link_to "El Progreso", {:mi_parametro => "El Progreso"}, {:class => 'gris'}%></li>
		<li><%= link_to "Escuintla", {:mi_parametro => "Escuintla"}, {:class => 'gris'}%></li>
		<li><%= link_to "Huehuetenango", {:mi_parametro => "Huehuetenango"}, {:class => 'gris'}%></li>
		<li><%= link_to "Izabal", {:mi_parametro => "Izabal"}, {:class => 'gris'}%></li>
		<li><%= link_to "Jalapa", {:mi_parametro => "Jalapa"}, {:class => 'gris'}%></li>
		<li><%= link_to "Jutiapa", {:mi_parametro => "Jutiapa"}, {:class => 'gris'}%></li>
		<li><%= link_to "Petén", {:mi_parametro => "Petén"}, {:class => 'gris'}%></li>
		<li><%= link_to "Quetzaltenango", {:mi_parametro => "Quetzaltenango"}, {:class => 'gris'}%></li>
		<li><%= link_to "Quiché", {:mi_parametro => "Quiché"}, {:class => 'gris'}%></li>
		<li><%= link_to "Retalhuleu", {:mi_parametro => "Retalhuleu"}, {:class => 'gris'}%></li>
		<li><%= link_to "Sacatepéquez", {:mi_parametro => "Sacatepéquez"}, {:class => 'gris'}%></li>
		<li><%= link_to "San Marcos", {:mi_parametro => "San Marcos"}, {:class => 'gris'}%></li>
		<li><%= link_to "Santa Rosa", {:mi_parametro => "Santa Rosa"}, {:class => 'gris'}%></li>
		<li><%= link_to "Sololá", {:mi_parametro => "Sololá"}, {:class => 'gris'}%></li>
		<li><%= link_to "Totonicapán", {:mi_parametro => "Totonicapán"}, {:class => 'gris'}%></li>
		<li><%= link_to "Zacapa", {:mi_parametro => "Zacapa"}, {:class => 'gris'}%></li>
		<li><%= link_to "Listado Nacional", {:mi_parametro => "Diputado por Listado Nacional"}, {:class => 'gris'}%></li>
  	</div>
  </div>
  
  <div class="col-md-6 col-md-4">
  	<h3 class="fuente_bold gris"><%=@numero_dip%> Diputados</h3>
  	<div class="col-md-12">
  		<% @di1.each do |n|%>
  			<ul class="fuente_light lista-diputados">
  				<li><%= link_to n.nombre, {:controller => 'congreso' ,:action => 're_perfil', :action =>'perfil_diputados', :codigo => n.id}, {:class => 'gris'} %></li>
			</ul>								
		<%end%>
  		<% @di2.each do |m|%>
  			<ul class="fuente_light lista-diputados">
  				<li><%= link_to m.nombre, {:controller => 'congreso' ,:action => 're_perfil', :action =>'perfil_diputados', :codigo => m.id}, {:class => 'gris'}%></li>
			</ul>								
		<%end%>
  	</div>
  </div>
</div