<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>

<div id="datos-diputado" class="row">
	<div class="col-xs-12 col-md-8">
  		<div class="col-md-3"><%= image_tag @diputado.photo_path%></div>
  		<div class="col-md-9">
  			<h2 class="fuente_semibold gris"><%=@diputado.nombre%></h2>
	  		
	  		<div class="col-md-6 fuente_normal celeste-1"><%=@diputado.distrito%></div>
	  		
	  		<div id="div-pediodo" class="col-md-6 fuente_normal celeste-1">2012-2016</div>
  		
  		</div>
  	</div>
  
  	<div class="col-xs-6 col-md-4"> </div> <!-- Aquí va la tabla-->
</div>

<div id="contacto-diputado" class="row">
	<div class="col-md-12 fuente_semibold celeste-1"><h4>CONTÁCTO</h4></div>
	
	<div class="col-ms-6 col-md-4">
		<div class="col-md-12 fuente_semibold gris">Correo:</div>
		<div class="col-md-12 fuente_light gris"><%=@diputado.correo%></div>
	</div>
	
	<div class="col-ms-6 col-md-4">
		<div class="col-md-12 fuente_semibold gris">Teléfono de oficina:</div>
		<div class="col-md-12 fuente_light gris"><%=@diputado.telefono%> Ext.<%=@diputado.ext%></div>
	</div>
	<div class="col-ms-6 col-md-4">
		<div class="col-md-12 fuente_semibold gris">Dirección de oficina:</div>
		<div class="col-md-12 fuente_light gris"><%=@diputado.direccion%></div>
	</div>
	
</div>