- @page_title = "Login"

<link type="text/css" rel="stylesheet" href="/stylesheets/maestro.css">

#heading
  %h2 Por favor inicia sesión o crea tu cuenta, es gratis

.padding
  #login-left.floatleft.padding.paddingtopnone
    %div
      %h3 Inicia sesión con Facebook
      = fb_connect_async_js
      = fb_login_and_redirect(request.url, :scope => 'email')

    #loginform.floatleft.form.clear{ :title => "Account login" }
      %h3 Login with Your OpenCongress Account
      = render :partial => 'login_form'


      %p.margintop.floatleft.margin-top
        = link_to "Forgot Password?", :action => 'forgot_password'

    %h3 Login with OpenID
    = form_for :user do |f|
      #oid_loginform.form{ :title => "Account login" }
        %p.openidform
          %label{ :for => "identity_url" } OpenID URL
          = text_field_tag :openid_url,nil, :class => 'field', :size => 30
        %br
        %input.floatright.margintop.behave{ :type => "image", :value => "Login with OpenID", :src => image_path('login3.png') }

  #login-right.floatright.padding.paddingtopnone
    %h3.make_one Create an OpenCongress Account
    = render :partial => "signup_form"
  
    %br{ :style => "clear:both" } &nbsp;