<div id="pie_de_pagina">
	<div id="div_datos">
		<div>
			<div id="titulo_ca">CONGRESO ABIERTO</div>
			<div id="texto_ca"><img id="imgTextoca" src="/imagenes/Pie_pagina/texto.png"/></div>
		</div>
		<div>
			<div id="titulo_rs">EN OTRAS REDES</div>
			<div id="intro_rs">Encuentranos tambien en otras redes:</div>
			<div id="enlaces_rs">
				<div>
					<img class="imgRS" src="/imagenes/Pie_pagina/fb.png"/>
					<a class="linkRS" href="https://www.facebook.com/congresoabiertogt">Facebook</a>
				</div>
				
				<div>
					<img class="imgRS" src="/imagenes/Pie_pagina/tw.png"/>
					<a class="linkRS" href="https://twitter.com/CongresoGT">Twitter</a>
				</div>
				
				<div>
					<img class="imgRS" src="/imagenes/Pie_pagina/yt.png"/>
					<a class="linkRS" href="https://www.youtube.com/channel/UCZr5jgPCN9CPnESiwnW0H9Q">YouTube</a>
				</div>
			</div>
		</div>
		
		<div id="ultimo_div">
			<div id="titulo_suscribir">SUSCRÍBETE AL BOLETÍN</div>
			
			<div id="div_txt">
				<label for="nombre">Nombre</label>
				<input type="text" id="nombre" />
				
				<label for="apellidos">Apellidos</label>
				<input type="text" id="apellidos" />
				
				<label for="correo">Correo Electrónico</label>
				<input type="text" id="correo" />
				
				<a id="btnSuscribir" class="boton_blanco" href="#" >Enviar</a>
			</div>
		</div>
	</div>
	
	<div id="div_links">
		<ul class="list_links">
			<li><%= link_to "¿Qué es Congreso Abierto?".html_safe, :controller => 'congreso_abierto', :action => 're_informacion'%></li>
			<li><%= link_to "Nuestro Equipo".html_safe, :controller => 'congreso_abierto', :action => 're_equipo'%></li>
			<li><a href="#">Proyectos</a></li>
			<li><a href="#">Quien nos apoya</a></li>
			<li><%= link_to "Pertenece a Congreso Abierto".html_safe, :controller => 'congreso_abierto', :action => 're_voluntarios'%></li>
			<li><a href="#">Otras Publicaciones</a></li>
			<li><%= link_to "Congreso Abierto".html_safe, :controller => 'congreso_abierto', :action => 're_informacion'%></li>
			<li><%= link_to "El Congreso".html_safe, :controller => 'diputados', :action => 're_mapa_distrital'%></li>
			<li><a href="#">Involúcrate</a></li>
			<li><a id="ultimo_link" href="#">Contacto</a></li>
		</ul>
	</div>
</div>
