<div class="footer-wrapper-old">
	
		<div id="footer_izquierda">
                   		<h3>
                            <a id="oc-logo-small" class="hide-text" href="/">OpenCongress</a>
                        </h3>
                        <p>OpenCongress allows anyone to follow legislation in Congress, from bill introduction to floor vote. Learn more about issues you care about and connect with others who share similar views.
                           OpenCongress was founded by the Participatory Politics Foundation in 2007 and operated as a joint project with the Sunlight Foundation until May 2013.
                        </p>
                       <div class="container-fluid">
                            <table id="tabla_info_op">
                            	<tr>
                            		<td>
                            			<%= link_to 'About OpenCongress', { :controller => 'about' },
                                            { :title => "Find out more about who and what is Open Congress" } %>
                            		</td>
                            		<td><a href="/howtouse">User's Guide</a></td>
                            		<td><a href="/terms">Terms &amp; Privacy</a></td>
                            	</tr>
                            	
                            	<tr>
                            		<td><a href="/search">Search</a></td>
                            		<td><%= link_to 'Wiki', "#{Settings.wiki_base_url}/Wiki_Home" %></td>
                            		<td><a href="/contact/">Contact Us</a></td>
                            	</tr>
                            	
                            	<tr>
                            		<td><%= link_to 'RSS', '/about/rss' %></td>                            		
                            		<td><%= link_to 'Developers/API', :controller => 'about', :action => 'code' %></td>                            		
                            		<td><%= link_to 'Resources', :controller => 'resources' %></td>
                            	</tr>
                            	
                            </table>
                        </div>
                        
                   </div>
                   
                   <div id="footer_derecha"><!-- Inicia codigo para informacion derecha -->
                   		<h3>
                            <a id="sf-logo-small" class="hide-text" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
                        </h3>
                        <p>Founded in 2006, the Sunlight Foundation is a nonpartisan nonprofit that advocates for open government globally and uses technology to make government more accountable to all. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
                        <div class="sign_up">
                        <h4>Like this project and want to discover others like it?</h4>
                        <span class="tip">Join the Sunlight Foundation's open government community to learn more.</span>
                        <form action="/subscribe.json" method="post" id="sfapp-subscribe-form" class="form-inline">
                            <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='8LsIjevc2XbY7Grk4KlrYkIlXz72J7nV' /></div>
                            <input type="hidden" name="response" value="json">
                            <input class="signUpEmail" type="text" name="email" placeholder="Email Address">
                            <input class="signUpZip" type="text" name="zipcode" placeholder="Zip Code">
                            <button type="submit" class="btn btn-sunlight">Sign Up</button>
                        </form>
                    </div>	
                   </div><!-- Termina codigo para informacion derecha -->
	
</div>